<a href="https://colab.research.google.com/github/jkrestrepo/IntroPython/blob/main/DepuracionDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1) Descripción del Problema.**

# **2) Descripción de los Datos.**

In [12]:
import numpy as np # Cálculo matricial
import pandas as pd # Excel Python
from datetime import time # Fechas
import matplotlib.pyplot as plt # Gráficos
import seaborn as sns # Gráficos estadísticos
import os # Sistema
pd.set_option("max_columns",50)

In [6]:
os.getcwd()

'/content'

In [8]:
RutaGithub="https://raw.githubusercontent.com/jkrestrepo/IntroPython/main/UCI_Credit_Card.csv"

In [10]:
df=pd.read_csv(RutaGithub)

In [74]:
df.head(10)

,ID,ValorCredito,Genero,Educacion,EstadoCivil,Edad,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,Mora,RangoPoblacional,Sexo
0,1,20000.0,2,2,1,24,2,2,-1,-1,-2,-2,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1,Joven,Mujer
1,2,120000.0,2,2,2,26,-1,2,0,0,0,2,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1,Joven,Mujer
2,3,90000.0,2,2,2,34,0,0,0,0,0,0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0,Adulto,Mujer
3,4,50000.0,2,2,1,37,0,0,0,0,0,0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0,Adulto,Mujer
4,5,50000.0,1,2,1,57,-1,0,-1,0,0,0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0,Adulto,Hombre
5,6,50000.0,1,1,2,37,0,0,0,0,0,0,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0,Adulto,Hombre
6,7,500000.0,1,1,2,29,0,0,0,0,0,0,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,0,Joven,Hombre
7,8,100000.0,2,2,2,23,0,-1,-1,0,0,-1,11876.0,380.0,601.0,221.0,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,0,Joven,Mujer
8,9,140000.0,2,3,1,28,0,0,2,0,0,0,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,3329.0,0.0,432.0,1000.0,1000.0,1000.0,0,Joven,Mujer
9,10,20000.0,1,3,2,35,-2,-2,-2,-2,-1,-1,0.0,0.0,0.0,0.0,13007.0,13912.0,0.0,0.0,0.0,13007.0,1122.0,0.0,0,Adulto,Hombre

## **2) Diccionario de variables**

* ID : ID de cada cliente
* Monto_Credito : cantidad del crédito otorgado en dólares NT (incluye crédito individual y familiar / suplementario
* SEXO : Género (1 = masculino, 2 = femenino)
* EDUCACIÓN : (1 = posgrado, 2 = universidad, 3 = bachillerato, 4 = otros, 5 = desconocido, 6 = desconocido)
* MATRIMONIO : Estado civil (1 = casado, 2 = soltero, 3 = otros)
* EDAD : Edad en años
* PAY_0 : Estado de reembolso en septiembre de 2005 (-1 = pago debidamente, 1 = retraso en el pago durante un mes,**bold text**

In [15]:
df.shape ## Tamaño de filas y columnas

(30000, 25)

In [20]:
print(f'La base de datos tiene: {df.shape[0]} registros, y {df.shape[1]} campos.')

La base de datos tiene: 30000 registros, y 25 campos.

In [ ]:
df.columns.to_list()

# **3) Depuración BD

## Renombrar variables

In [28]:
df.rename(columns={"LIMIT_BAL":"ValorCredito",
                   "SEX":"Genero",
                   "EDUCATION":"Educacion",
                   "MARRIAGE":"EstadoCivil",
                   "AGE":"Edad",
                   "default.payment.next.month":"Mora"},inplace=True)

### **Estructuras de control**

In [42]:
df.Edad[45]

29

In [43]:
Edad=df.Edad[45]
print(Edad)

29

In [37]:
if (Edad >= 18):
  GrupoPoblacional="MayorEdad"
else:
  GrupoPoblacional="MenorEdad"

In [40]:
print(GrupoPoblacional)

Adulto

In [46]:
if (Edad >= 18 and Edad <= 30):
  GrupoPoblacional="Joven"
elif (Edad > 30 and Edad <= 60):
  GrupoPoblacional="Adulto"
elif (Edad > 60 and Edad <= 110):
  GrupoPoblacional="AdultoMayor"
elif (Edad > 110):
  GrupoPoblacional="ValidarAdultoMayor"
else:
  GrupoPoblacional="ValidarMenorEdad"

In [47]:
GrupoPoblacional

'Joven'

# Funciones

In [48]:
def SumaDosNumeros(x,y):
  suma=x+y
  return suma

In [52]:
SumaDosNumeros(8,6.85)

14.85

In [54]:
def CalculoRangoPoblacional(Edad):
  if (Edad >= 18 and Edad <= 30):
    GrupoPoblacional="Joven"
  elif (Edad > 30 and Edad <= 60):
    GrupoPoblacional="Adulto"
  elif (Edad > 60 and Edad <= 110):
    GrupoPoblacional="AdultoMayor"
  elif (Edad > 110):
    GrupoPoblacional="ValidarAdultoMayor"
  else:
    GrupoPoblacional="ValidarMenorEdad"
  return GrupoPoblacional

In [62]:
CalculoRangoPoblacional(df.Edad[6])

'Joven'

In [63]:
df.Edad.apply(CalculoRangoPoblacional) ## Aplicar nuestra función a toda la BBDD

0         Joven
1         Joven
2        Adulto
3        Adulto
4        Adulto
          ...
29995    Adulto
29996    Adulto
29997    Adulto
29998    Adulto
29999    Adulto
Name: Edad, Length: 30000, dtype: object

In [64]:
df["RangoPoblacional"]=df.Edad.apply(CalculoRangoPoblacional)

In [66]:
df.RangoPoblacional.value_counts()

Adulto         18715
Joven          11013
AdultoMayor      272
Name: RangoPoblacional, dtype: int64

In [68]:
(df.RangoPoblacional.value_counts()/len(df))*100

Adulto         62.383333
Joven          36.710000
AdultoMayor     0.906667
Name: RangoPoblacional, dtype: float64

## Función género (1: Hombre, 2: Mujer)

In [69]:
df.Genero

0        2
1        2
2        2
3        2
4        1
        ..
29995    1
29996    1
29997    1
29998    1
29999    1
Name: Genero, Length: 30000, dtype: int64

In [70]:
def CalculoGenero(Genero):
  if (Genero == 1):
    Sexo="Hombre"
  elif (Genero == 2):
    Sexo="Mujer"
  else:
    Sexo="VerificarGenero"
  return Sexo

In [72]:
df.Genero.apply(CalculoGenero)

<bound method IndexOpsMixin.value_counts of 0         Mujer
1         Mujer
2         Mujer
3         Mujer
4        Hombre
          ...
29995    Hombre
29996    Hombre
29997    Hombre
29998    Hombre
29999    Hombre
Name: Genero, Length: 30000, dtype: object>

In [73]:
df["Sexo"]=df.Genero.apply(CalculoGenero)

In [75]:
df.Sexo.value_counts()

Mujer     18112
Hombre    11888
Name: Sexo, dtype: int64