<a href="https://colab.research.google.com/github/jkrestrepo/IntroPython/blob/main/DepuracionDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1) Descripción del Problema.**

# **2) Descripción de los Datos.**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [62]:
import numpy as np # Cálculo matricial
import pandas as pd # Excel Python
from datetime import time # Fechas
import matplotlib.pyplot as plt # Gráficos
import seaborn as sns # Gráficos estadísticos
import os # Sistema
from scipy import stats
pd.set_option("max_columns",50)

In [3]:
os.getcwd()
directorioTrabajo="/content/drive/MyDrive/DiplomadoBigData/IntroduccionPython/Codigo"
os.chdir(directorioTrabajo)
os.getcwd()
import utils

In [4]:
RutaGithub="https://raw.githubusercontent.com/jkrestrepo/IntroPython/main/UCI_Credit_Card.csv"
RutaDrive="/content/drive/MyDrive/DiplomadoBigData/IntroduccionPython/Insumos/UCI_Credit_Card.csv"

In [5]:
df=pd.read_csv(RutaGithub)

In [6]:
df.head(10)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,-2,-2,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,0,2,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,0,0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,0,0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,0,0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
5,6,50000.0,1,1,2,37,0,0,0,0,0,0,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0
6,7,500000.0,1,1,2,29,0,0,0,0,0,0,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,0
7,8,100000.0,2,2,2,23,0,-1,-1,0,0,-1,11876.0,380.0,601.0,221.0,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,0
8,9,140000.0,2,3,1,28,0,0,2,0,0,0,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,3329.0,0.0,432.0,1000.0,1000.0,1000.0,0
9,10,20000.0,1,3,2,35,-2,-2,-2,-2,-1,-1,0.0,0.0,0.0,0.0,13007.0,13912.0,0.0,0.0,0.0,13007.0,1122.0,0.0,0

## **2) Diccionario de variables**

## **Diccionario Variables**

* ID : ID de cada cliente
* Monto_Credito : cantidad del crédito otorgado en dólares NT (incluye crédito individual y familiar / suplementario
* SEXO : Género (1 = masculino, 2 = femenino)
* EDUCACIÓN : (1 = posgrado, 2 = universidad, 3 = bachillerato, 4 = otros, 5 = desconocido, 6 = desconocido)
* MATRIMONIO : Estado civil (1 = casado, 2 = soltero, 3 = otros)
* EDAD : Edad en años
* PAY_0 : Estado de reembolso en septiembre de 2005 (-1 = pago debidamente, 1 = retraso en el pago durante un mes, 2 = retraso en el pago durante dos meses,… 8 = retraso en el pago durante ocho meses, 9 = retraso en el pago durante nueve meses o más)
* PAY_2 : Estado de reembolso en agosto de 2005 (escala igual a la anterior)
* PAY_3 : Estado de reembolso en julio de 2005 (escala igual a la anterior)
* PAY_4 : Estado de reembolso en junio de 2005 (escala igual a la anterior)
* PAY_5 : Estado de reembolso en mayo de 2005 (escala igual a la anterior)
* PAY_6 : Estado de reembolso en abril de 2005 (escala igual a la anterior)
* BILL_AMT1 : Monto del extracto de la factura en septiembre de 2005 (dólar NT)
* BILL_AMT2 : Monto del extracto de la factura en agosto de 2005 (dólar NT)
* BILL_AMT3 : Monto del extracto de la factura en julio de 2005 (dólar NT)
* BILL_AMT4 : Monto del extracto de la factura en junio de 2005 (dólar NT)
* BILL_AMT5 : Monto del extracto de la factura en mayo de 2005 (dólar NT)
* BILL_AMT6 : Monto del extracto de la factura en abril de 2005 (dólar NT)
* PAY_AMT1 : Monto del pago anterior en septiembre de 2005 (dólar NT)
* PAY_AMT2 : Monto del pago anterior en agosto de 2005 (dólar NT)
* PAY_AMT3 : Monto del pago anterior en julio de 2005 (dólar NT)
* PAY_AMT4 : Monto del pago anterior en junio de 2005 (dólar NT)
* PAY_AMT5 : Monto del pago anterior en mayo de 2005 (dólar NT)
* PAY_AMT6 : Monto del pago anterior en abril de 2005 (dólar NT)
* default.payment.next.month : pago predeterminado (1 = sí, 0 = no)

In [7]:
df.shape ## Tamaño de filas y columnas

(30000, 25)

In [8]:
print(f'La base de datos tiene: {df.shape[0]} registros, y {df.shape[1]} campos.')

La base de datos tiene: 30000 registros, y 25 campos.

In [9]:
df.columns.to_list()

['ID',
 'LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'default.payment.next.month']

# **3) Depuración BD

## Renombrar variables

In [10]:
df.rename(columns={"LIMIT_BAL":"ValorCredito",
                   "SEX":"Genero",
                   "EDUCATION":"Educacion",
                   "MARRIAGE":"EstadoCivil",
                   "AGE":"Edad",
                   "default.payment.next.month":"Mora"},inplace=True)

### **Estructuras de control**

In [11]:
df.Edad[45]

29

In [12]:
Edad=df.Edad[45]
print(Edad)

29

In [13]:
if (Edad >= 18):
  GrupoPoblacional="MayorEdad"
else:
  GrupoPoblacional="MenorEdad"

In [14]:
print(GrupoPoblacional)

MayorEdad

In [15]:
if (Edad >= 18 and Edad <= 30):
  GrupoPoblacional="Joven"
elif (Edad > 30 and Edad <= 60):
  GrupoPoblacional="Adulto"
elif (Edad > 60 and Edad <= 110):
  GrupoPoblacional="AdultoMayor"
elif (Edad > 110):
  GrupoPoblacional="ValidarAdultoMayor"
else:
  GrupoPoblacional="ValidarMenorEdad"

In [16]:
GrupoPoblacional

'Joven'

# Funciones

In [17]:
def SumaDosNumeros(x,y):
  suma=x+y
  return suma

In [18]:
SumaDosNumeros(8,6.85)

14.85

In [19]:
utils.CalculoRangoPoblacional(df.Edad[6])

'Joven'

In [20]:
df.Edad.apply(utils.CalculoRangoPoblacional) ## Aplicar nuestra función a toda la BBDD

0         Joven
1         Joven
2        Adulto
3        Adulto
4        Adulto
          ...
29995    Adulto
29996    Adulto
29997    Adulto
29998    Adulto
29999    Adulto
Name: Edad, Length: 30000, dtype: object

In [21]:
df["RangoPoblacional"]=df.Edad.apply(utils.CalculoRangoPoblacional)

In [22]:
df.RangoPoblacional.value_counts()

Adulto         18715
Joven          11013
AdultoMayor      272
Name: RangoPoblacional, dtype: int64

In [23]:
(df.RangoPoblacional.value_counts()/len(df))*100

Adulto         62.383333
Joven          36.710000
AdultoMayor     0.906667
Name: RangoPoblacional, dtype: float64

## Función género (1: Hombre, 2: Mujer)

In [24]:
df.Genero

0        2
1        2
2        2
3        2
4        1
        ..
29995    1
29996    1
29997    1
29998    1
29999    1
Name: Genero, Length: 30000, dtype: int64

In [25]:
df.Genero.apply(utils.CalculoGenero)

0         Femenino
1         Femenino
2         Femenino
3         Femenino
4        Masculino
           ...
29995    Masculino
29996    Masculino
29997    Masculino
29998    Masculino
29999    Masculino
Name: Genero, Length: 30000, dtype: object

In [26]:
df["Sexo"]=df.Genero.apply(utils.CalculoGenero)

In [27]:
df.Sexo.value_counts()

Femenino     18112
Masculino    11888
Name: Sexo, dtype: int64

### **Eliminar columnas**

In [28]:
df.head()

,ID,ValorCredito,Genero,Educacion,EstadoCivil,Edad,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,Mora,RangoPoblacional,Sexo
0,1,20000.0,2,2,1,24,2,2,-1,-1,-2,-2,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1,Joven,Femenino
1,2,120000.0,2,2,2,26,-1,2,0,0,0,2,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1,Joven,Femenino
2,3,90000.0,2,2,2,34,0,0,0,0,0,0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0,Adulto,Femenino
3,4,50000.0,2,2,1,37,0,0,0,0,0,0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0,Adulto,Femenino
4,5,50000.0,1,2,1,57,-1,0,-1,0,0,0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0,Adulto,Masculino

In [29]:
df.drop(columns=["RangoPoblacional"],inplace=True)

In [30]:
df["EducacionHomo"]=df.Educacion.apply(utils.CalculoEducacion)

In [31]:
df["EducacionHomo"].value_counts()

Universidad       14030
Posgrado          10585
Bachillerato       4917
Desconocido         280
Otros               123
No Clasificado       65
Name: EducacionHomo, dtype: int64

In [32]:
df["GeneroHomo"]=df.Genero.apply(utils.CalculoGenero)

In [33]:
df["GeneroHomo"].value_counts()

Femenino     18112
Masculino    11888
Name: GeneroHomo, dtype: int64

In [34]:
df.columns.to_list()

['ID',
 'ValorCredito',
 'Genero',
 'Educacion',
 'EstadoCivil',
 'Edad',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'Mora',
 'Sexo',
 'EducacionHomo',
 'GeneroHomo']

In [35]:
#df.drop(columns=['Genero','Educacion','EstadoCivil'],inplace=True)

In [36]:
df.head()

,ID,ValorCredito,Genero,Educacion,EstadoCivil,Edad,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,Mora,Sexo,EducacionHomo,GeneroHomo
0,1,20000.0,2,2,1,24,2,2,-1,-1,-2,-2,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1,Femenino,Universidad,Femenino
1,2,120000.0,2,2,2,26,-1,2,0,0,0,2,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1,Femenino,Universidad,Femenino
2,3,90000.0,2,2,2,34,0,0,0,0,0,0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0,Femenino,Universidad,Femenino
3,4,50000.0,2,2,1,37,0,0,0,0,0,0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0,Femenino,Universidad,Femenino
4,5,50000.0,1,2,1,57,-1,0,-1,0,0,0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0,Masculino,Universidad,Masculino

In [56]:
df.isnull().sum()

ID                  0
ValorCredito        0
Genero              0
Educacion           0
EstadoCivil         0
Edad                0
PAY_0               0
PAY_2               0
PAY_3               0
PAY_4               0
PAY_5               0
PAY_6               0
BILL_AMT1           0
BILL_AMT2           0
BILL_AMT3           0
BILL_AMT4           0
BILL_AMT5           0
BILL_AMT6           0
PAY_AMT1            0
PAY_AMT2            0
PAY_AMT3            0
PAY_AMT4            0
PAY_AMT5            0
PAY_AMT6            0
Mora                0
Sexo                0
EducacionHomo       0
GeneroHomo          0
EstadoCivilHomo    54
EdudacionHomo      65
dtype: int64

In [75]:
df["EstadoCivilHomo"]=df.EstadoCivil.apply(utils.CalculoEstadoCivil)

In [76]:
df["EstadoCivilHomo"].value_counts()

Soltero           15964
Casado            13659
Otros               323
No Clasificado       54
Name: EstadoCivilHomo, dtype: int64

In [47]:
df["EstadoCivilHomo"][df["EstadoCivilHomo"]=="No Clasificado"]=np.nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [71]:
df["EdudacionHomo"]=df.Educacion.apply(utils.CalculoEducacion)

In [52]:
df["EdudacionHomo"].value_counts()

Universidad     14030
Posgrado        10585
Bachillerato     4917
Desconocido       280
Otros             123
Name: EdudacionHomo, dtype: int64

In [51]:
df["EdudacionHomo"][df["EdudacionHomo"]=="No Clasificado"]=np.nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [77]:
df.isnull().sum()/len(df)*100

ID                 0.0
ValorCredito       0.0
Genero             0.0
Educacion          0.0
EstadoCivil        0.0
Edad               0.0
PAY_0              0.0
PAY_2              0.0
PAY_3              0.0
PAY_4              0.0
PAY_5              0.0
PAY_6              0.0
BILL_AMT1          0.0
BILL_AMT2          0.0
BILL_AMT3          0.0
BILL_AMT4          0.0
BILL_AMT5          0.0
BILL_AMT6          0.0
PAY_AMT1           0.0
PAY_AMT2           0.0
PAY_AMT3           0.0
PAY_AMT4           0.0
PAY_AMT5           0.0
PAY_AMT6           0.0
Mora               0.0
Sexo               0.0
EducacionHomo      0.0
GeneroHomo         0.0
EstadoCivilHomo    0.0
EdudacionHomo      0.0
dtype: float64

## **Imputación**

In [ ]:
## Moda.
ModaEducacion=stats.mode(df.EducacionHomo)
ModaEducacion[0][0]

In [69]:
df.EducacionHomo=df.EducacionHomo.replace(np.nan,ModaEducacion[0][0])

In [73]:
## Moda.
ModaEstCivil=stats.mode(df.EstadoCivilHomo)
ModaEstCivil[0][0]

'Soltero'

In [74]:
df.EstadoCivilHomo=df.EstadoCivilHomo.replace(np.nan,ModaEstCivil[0][0])

# **Recodificación de variables**

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               30000 non-null  object
 1   ValorCredito     30000 non-null  float64
 2   Genero           30000 non-null  int64
 3   Educacion        30000 non-null  int64
 4   EstadoCivil      30000 non-null  int64
 5   Edad             30000 non-null  int64
 6   PAY_0            30000 non-null  int64
 7   PAY_2            30000 non-null  int64
 8   PAY_3            30000 non-null  int64
 9   PAY_4            30000 non-null  int64
 10  PAY_5            30000 non-null  int64
 11  PAY_6            30000 non-null  int64
 12  BILL_AMT1        30000 non-null  float64
 13  BILL_AMT2        30000 non-null  float64
 14  BILL_AMT3        30000 non-null  float64
 15  BILL_AMT4        30000 non-null  float64
 16  BILL_AMT5        30000 non-null  float64
 17  BILL_AMT6        30000 non-null  float64
 18  PAY_AMT1         30000 non-null  float64
 19  PAY_AMT2         30000 non-null  float64
 20  PAY_AMT3         30000 non-null  float64
 21  PAY_AMT4         30000 non-null  float64
 22  PAY_AMT5         30000 non-null  float64
 23  PAY_AMT6         30000 non-null  float64
 24  Mora             30000 non-null  int64
 25  Sexo             30000 non-null  object
 26  EducacionHomo    30000 non-null  object
 27  GeneroHomo       30000 non-null  object
 28  EstadoCivilHomo  30000 non-null  object
 29  EdudacionHomo    30000 non-null  object
dtypes: float64(13), int64(11), object(6)
memory usage: 6.9+ MB

In [82]:
df["ID"]=df["ID"].astype(str) # Objeto tipo string

In [ ]:
## Categóricas

## **Conteo de variables**

In [88]:
VariablesNumericas=df._get_numeric_data().columns.to_list()
print(f'La cantidad de variables numéricas es de: {len(VariablesNumericas)}, y son: {VariablesNumericas}')

La cantidad de variables numéricas es de: 24, y son: ['ValorCredito', 'Genero', 'Educacion', 'EstadoCivil', 'Edad', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'Mora']